## Setup

In [32]:
# Import some common packages
import os
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import warnings
import urllib

# Import ML packages
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from pandas.plotting import scatter_matrix

# Suppress warnings
warnings.filterwarnings("ignore")

# To make this notebook's output stable across runs
np.random.seed(42)

print("Done importing libraries and setting up Notebook.")

Done importing libraries and setting up Notebook.

In [33]:
fitbitData = pd.read_csv("MasterDatabase.csv")

fitbitData.head()
#fitbitData.describe()
#fitbitData.info()

,Unnamed: 0,Date,Calories,Steps,Distance,Minutessedentary,Minuteslightlyactive,Minutesfairlyactive,Minutesveryactive,Minutes Asleep,Week Day
0,0,2018-01-01,1502,80,0.033256,1432,8,0,0,NaN,Monday
1,1,2018-01-02,1911,4995,2.076405,744,158,9,3,510.0,Tuesday
2,2,2018-01-03,1547,540,0.224477,1416,24,0,0,NaN,Wednesday
3,3,2018-01-04,1641,2306,0.958596,1387,23,28,2,NaN,Thursday
4,4,2018-01-05,1648,2516,1.045892,1394,46,0,0,NaN,Friday

In [34]:
# Drop categories
numericaldata = fitbitData.drop(['Unnamed: 0','Date', 'Week Day'], axis = 1)
numericaldata.head()

,Calories,Steps,Distance,Minutessedentary,Minuteslightlyactive,Minutesfairlyactive,Minutesveryactive,Minutes Asleep
0,1502,80,0.033256,1432,8,0,0,NaN
1,1911,4995,2.076405,744,158,9,3,510.0
2,1547,540,0.224477,1416,24,0,0,NaN
3,1641,2306,0.958596,1387,23,28,2,NaN
4,1648,2516,1.045892,1394,46,0,0,NaN

In [35]:
# OneHotEncoder
from future_encoders import OneHotEncoder
fitbit_cat = fitbitData[['Week Day']]
cat_encoder = OneHotEncoder(sparse = False)
fitbit_cat_1hot = cat_encoder.fit_transform(fitbit_cat)
#print(cat_encoder.categories_)
#print(fitbit_cat_1hot)

In [39]:
label = "Calories" 

train_set, test_set = train_test_split(fitbitData, test_size=0.2, random_state=10)

x_tr = train_set.drop(label,axis=1)
y_train = train_set[label].copy()
x_te = test_set.drop(label,axis=1)
y_test = test_set[label].copy()

x_train = full_pipeline.transform(x_tr) #Process training data
x_test = full_pipeline.transform(x_te) #Process test data

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [ ]:
from sklearn.tree import DecisionTreeRegressor

print("Decision Tree Regressor")
tree_reg = DecisionTreeRegressor(random_state=42)
tree_reg.fit(x_train, y_train)

#Decision Tree Regression
#Prediction on training set
train_tree_scores = cross_val_score(tree_reg, x_train, y_train,
                                   scoring="neg_mean_squared_error", cv=10)
train_tree_rmse_scores = np.sqrt(-train_tree_scores)
print("Training data root mean square error:", train_tree_rmse_scores.mean())

#Prediction on test set
test_tree_scores = cross_val_score(tree_reg, x_test, y_test,
                                  scoring="neg_mean_squared_error", cv=10)
test_tree_rmse_scores = np.sqrt(-test_tree_scores)
print("Test data root mean square error:", test_tree_rmse_scores.mean())

In [ ]:
from sklearn.ensemble import RandomForestRegressor

#Create a Random Forest Regression based on the training data
print("RandomForest Regressor")
forest_reg = RandomForestRegressor(random_state=42)
forest_reg.fit(x_train,y_train)

#Prediction on training set
train_forest_scores = cross_val_score(forest_reg, x_train, y_train,
                                      scoring="neg_mean_squared_error", cv=10)
train_forest_rmse_scores = np.sqrt(-train_forest_scores)
print("Training data root mean square error:",train_forest_rmse_scores.mean())

#Prediction on testing set
test_forest_scores = cross_val_score(forest_reg, x_test, y_test,
                                     scoring="neg_mean_squared_error", cv=10)
test_forest_rmse_scores = np.sqrt(-test_forest_scores)
print("Test data root mean square error:", test_forest_rmse_scores.mean())

In [ ]:
from sklearn.svm import SVR
#Same issue as above

gamma1, gamma2, gamma3 = 0.1, 0.01, 0.001
C1, C2, C3 = 1, 500, 1000
hyperparams = (gamma1, C1), (gamma1, C2), (gamma1, C3), (gamma2, C1), (gamma2, C2), (gamma2, C3), (gamma3, C1), (gamma3, C2), (gamma3, C3)  

from sklearn.model_selection import cross_val_score
from sklearn.metrics import precision_score, recall_score, accuracy_score

for gamma, C in hyperparams:

    rbf_kernel_svRg_clf = SVR(kernel="rbf", gamma = gamma, C=C)
    rbf_kernel_svRg_clf.fit(x_train, y_train)

    #Performance metrics
    from sklearn.model_selection import cross_val_score

    svRg_mse = cross_val_score(svr_clf, x_test, y_test, cv=3, scoring="neg_mean_squared_error")

    svRg_rmse = np.sqrt(-svRg_mse)
    
    print("\n gamma is " + str(gamma))
    print("C is " + str(C))
    print("average:")
    svRg_average_error = np.mean(svRg_rmse)
    print(svRg_average_error)